@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: none; /* Hide scrollbar */
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
    height: 0; /* Remove scrollbar height */
}

body {
    transition: background-color 0.6s ease;
  }

.marquee {
    position: relative;
}
.p1 {
    position: absolute;
    top: 25%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 12s linear infinite;
    animation-delay: 0s;
    @apply w-[160%] sm:w-[140%] lg:w-[120%] xl:w-[110%]

}

.text-stroke {
    color:transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 0.06cm;
    -webkit-text-stroke-color: white;
}

.p2 {
    position: absolute;
    
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 12s linear infinite;
    animation-delay: 6s;
    @apply w-[160%] sm:w-[140%] lg:w-[120%] xl:w-[110%]
}
.blinking_text {
    animation: blink 1.5s linear infinite; ;
}

.color-black {
    background-color: rgb(23 23 23);
  }
.color-white {
    background-color: rgb(245 245 245);
  }
  .listt {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Adjust as needed */
    padding-bottom: 2px; /* Adjust as needed */
  }
  
  .listt::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust as needed */
    background-color: rgb(245 245 245); /* Adjust as needed */
    transition: width 0.5s ease; /* Transition for the underline animation */

  }
  

  
  .listt:hover::after {
    width: 100%;
    animation: glow 0.5s infinite alternate; /* Animation for the glowing effect */
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3); /* Adjust glow effect */

  }

  .scroll-snap-parent {
    scroll-snap-type: y mandatory;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .scroll-snap-children {
    scroll-snap-align: center;
  flex: none;
  }


@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes blink {
    0% {
        visibility: visible;
    }
    23% {
        visibility: hidden;
    }
    76%{
        visibility: hidden;

    }
    100% {
        visibility: visible;
    }
}